@font-face {
    font-family: 'Nunito-Sans';
    src: url('../fonts/nunito-sans-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Next Art';
    src: url('../fonts/nextart-heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Jost-Regular';
    src: url('../fonts/jost-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 16px;
    margin: 0 auto;
}
body {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.hero {
    width: 100%;
    height: auto;
    min-height: 770px;
    background: url('../images/mount\ header.png') center no-repeat;
    background-size: cover;
}
.header {
    width: 100%;
    height: auto;
    padding-top: 20px;
}
.header__logo-links-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.header__logo {
    position: relative;
}
.header__img {
    aspect-ratio: 137/72;
    object-fit: cover;
}
.header__links {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.links {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.0;
    letter-spacing: 0%;
    text-decoration: none;
    color: rgba(253, 253, 253, 1);
    transition: all 0.3s ease;
}
.links:hover {
    color: rgba(192, 192, 192, 1);
}
.header__button {
    width: auto;
    height: auto;
}
.consult {
    padding: 15px 25px;
    color: rgba(253, 253, 253, 1);
    background-color: rgba(26, 62, 62, 1);
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 2.0;
    letter-spacing: 1.2%;
}
.consult:hover {
    transform: translateY(-5px);
}
.header__title {
    width: 100%;
    height: auto;
    max-width: 1080px;
    min-height: 150px;
    margin-inline-start: clamp(16px, 4vw, 80px);
    margin-block-start: clamp(16px, 6vw, 153px);
}
.title {
    font-family: 'Next Art';
    font-weight: 800;
    font-style: normal;
    font-size: 3.125rem;
    line-height: 1.5;
    letter-spacing: 2%;
    color: rgba(253, 253, 253, 1);
}
.header__inputs-block {
    width: 100%;
    height: auto;
    max-width: 1180px;
    min-height: 161px;
    margin-top: 41px;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.2);
    margin-inline-start: clamp(16px, 4vw, 80px);
    border-radius: 10px;

}
.header__inputs-button {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding: 45px 42px 40px 43px;
}
.head__input {
    display: flex;
    flex-direction: column;
    height: auto;
}
input {
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    width: 270px;
    height: 52px;
    border-radius: 8px;
}
input::placeholder {
    color: rgba(253, 253, 253, 1);
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0px;
    padding: 14px 44px 14px 16px;
}
input[type="date"] {
    padding: 14px 44px 14px 16px;
    color: rgba(253, 253, 253, 1);
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 1.5;
}
.input__content  {
    padding: 8px 8px 8px 8px;
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0%;
    color: rgba(253, 253, 253, 1);
}
.button__search {
    width: auto;
    height: auto;
}
.search {
    padding: 17px 23px;
    background-color: rgba(253, 253, 253, 1);
    color: rgba(26, 62, 62, 1);
    border: none;
    border-radius: 10px;
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.search:hover {
    transform: translateY(-5px);
}
.about {
    width: 100%;
    height: auto;
    min-height: 771px;
}
.about__grid-content {
    display: flex;
    margin-inline: clamp(16px, 8vw, 370px);
    gap: clamp(16px, 8vw, 200px);
    margin-block: clamp(16px, 6vw, 100px);
}
.about__grid {
    flex: 1;
    position: relative;
    width: 100%;
    height: auto;
}
.about__img {
    object-fit: cover;
    aspect-ratio: 350/400;
}
.about__grid-two {
    position: absolute;
    top: 126px;
    left: 130px;
}
.about__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about__title {
    width: 100%;
    height: auto;
}
.hike__title {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2.0;
    letter-spacing: 0%;
    color: rgba(242, 190, 34, 1);
}
.hike__descriptions {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0%;
    color: rgba(24, 18, 30, 1);
    padding: 10px 0 0 0;
}
.about__descriptions {
    width: 100%;
    height: auto;
}
.about__text {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: 0%;
    color: rgba(24, 18, 30, 1);
}
.about__button {
    width: 100%;
    height: auto;
}
.programm {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background-color: rgba(26, 62, 62, 1);
    color: rgba(253, 253, 253, 1);
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 2.0;
    letter-spacing: 0%;
    transition: all 0.3s ease;
}
.programm:hover {
    transform: translateY(-5px);
}
.services {
    width: 100%;
    height: auto;
}
.services__content-grid {
    display: flex;
    gap: clamp(16px, 4vw, 90px);
}
.services__content {
    flex: 1;
    width: 100%;
    height: auto;
    min-height: 591px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.services__title {
    display: flex;
    flex-direction: column;
}
.services__title-text {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 0%;
    line-height: 2.0;
    color: rgba(242, 190, 34, 1);
}
.services__descriptions-text {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(24, 18, 30, 1);
}
.services__descriptions {
    padding: 40px 0 0 0;
}
.descriptions__text {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: 0%;
    color: rgba(24, 18, 30, 1);
}
.services__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.services__card {
    display: flex;
    gap: 16px;
}
.services__img {
    object-fit: cover;
    width: 50px;
    height: 50px;
}
.content__title {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.125rem;
    letter-spacing: 1.2%;
    color: rgba(24, 18, 30, 1);
}
.content__descriptions {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
}
.services__button {
    width: 100%;
    height: auto;
}
.services__btn {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background-color: rgba(26, 62, 62, 1);
    color: rgba(253, 253, 253, 1);
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 2.0;
    letter-spacing: 1.2%;
    transition: all 0.3s ease;
}
.services__btn:hover {
    transform: translateY(-5px);
}
.services__grid {
    flex: 1;
    padding-inline: clamp(16px, 4vw, 80px);
    padding-block: clamp(16px, 2vw, 40px);
}
.offers {
    width: 100%;
    height: auto;
    margin-block-start: clamp(16px, 3vw, 80px);
}
.offers__content-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.offers__title {
    display: flex;
    flex-direction: column;
}
.title--1 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2.0;
    letter-spacing: 0%;
    color: rgba(242, 190, 34, 1);
    padding: 0 0 0 50px;
}
.descriptions--1 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    line-height: 2.0;
    letter-spacing: 0%;
    color: rgba(24, 18, 30, 1);
}
.offers__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.offers__card {
    position: relative;
}
.offers__img {
    object-fit: cover;
    aspect-ratio: 380/500;
}
.offers__content {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 0 30px 30px;
    backdrop-filter: blur(6px);
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
}
.offers__prices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.content__title--1 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(253, 253, 253, 1);
}
.content__descriptions--1 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.8;
    letter-spacing: 0%;
    color: rgba(253, 253, 253, 1);
}
.prices {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
    letter-spacing: 0%;
    color: rgba(253, 253, 253, 1);
}
.rating__button {
    width: auto;
    height: auto;
}
.rating {
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background-color: rgba(26, 62, 62, 1);
    color: rgba(253, 253, 253, 1);
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 2.0;
    letter-spacing: 0%;
    transition: all 0.3s ease;
}
.rating:hover {
    transform: translateY(-5px);
}
.features {
    width: 100%;
    height: auto;
    margin-block-start: clamp(16px, 6vw, 180px);
}
.features__title-content-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.features__title {
    padding: 0 0 40px 0;
}
.title--2 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 0%;
    line-height: 2.0;
    color: rgba(242, 190, 34, 1);
    padding: 0 0 0 15px;
}
.descriptions--2 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0%;
    color: rgba(24, 18, 30, 1);
}
.features__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    position: relative;
}
.features__card {
    display: flex;
    gap: 24px;
}
.features__img {
    object-fit: cover;
    aspect-ratio: 230/280;
}
.features__content {
    padding: 16px 16px 16px 0;
}
.content__title--2 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 0%;
    color: rgba(24, 18, 30, 1);
    transition: all 0.3s ease;
}
.content__title--2:hover {
    cursor: grab;
    color: rgba(26, 62, 62, 1);
    text-decoration: underline;
}
.features__descriptions {
    padding: 24px 0 0 0;
}
.features__descriptions--1 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;
    letter-spacing: 0%;
}
.features__date {
    display: flex;
    gap: 121px;
    padding: 40px 0 0 0;
}
.date--1 {
    font-family: 'Jost-regular';
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;
    letter-spacing: 0%;
    color: rgba(242, 192, 34, 1);
}
.date--2 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;
    letter-spacing: 0%;
    color: rgba(26, 62, 62, 1);
}
.features__button {
    width: auto;
    height: auto;
    margin-top: 50px;
}
.feat {
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background-color: rgba(26, 62, 62, 1);
    color: rgba(253, 253, 253, 1);
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0;
    transition: all 0.3s ease;
}
.feat:hover {
    transform: translateY(-5px);
}
.photos {
    width: 100%;
    height: auto;
}
.photos__title-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block-start: clamp(16px, 4vw, 80px);
    gap: 40px;
}
.photos__title {
    display: flex;
    flex-direction: column;
}
.title--3 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2.0;
    letter-spacing: 0%;
    color: rgba(242, 190, 34, 1);
    padding: 0 0 0 120px;
}
.descriptions--3 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(24, 18, 30, 1);
}
.images__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.photos__img--1 {
    object-fit: cover;
    aspect-ratio: 580/250;
}
.photos__img--2 {
    object-fit: cover;
    aspect-ratio: 280/250;
}
.pinterest__btn {
    width: auto;
    height: auto;
}
.pinterest {
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    color: rgba(253, 253, 253, 1);
    background-color: rgba(26, 62, 62, 1);
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 1.2%;
    transition: all 0.3s ease;
}
.pinterest:hover {
    transform: translateY(-5px);
}
.footer {
    width: 100%;
    height: auto;
}
.footer__contacts {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(16px, 2vw, 60px);
    margin-block-start: clamp(16px, 4vw, 100px);
}
.footer__title {
    flex: 1;
    padding: 40px 0 66px 100px;
}
.title--4 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.125rem;
    letter-spacing: 0%;
    line-height: 20px;
    color: rgba(242, 190, 34, 1);
    padding: 0 0 8px 0;
}
.descriptions--4 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.625rem;
    line-height: 1.2;
    letter-spacing: 0%;
    color: rgba(24, 18, 30, 1);
}
.footer__support {
    flex: 1;
    padding: 40px 100px 40px 0;
}
.footer__email {
    padding: 0 0 20px 0;
}
.email__text,
.email {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 0%;
    color: rgba(24, 18, 30, 1);
}
.support__button {
    width: auto;
    height: auto;
}
.support {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    color: rgba(253, 253, 253, 1);
    background-color: rgba(26, 62, 62, 1);
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.0;
    letter-spacing: 0%;
    transition: all 0.3s ease;
}
.support:hover {
    transform: translateY(-2px);
}
.base,
.base__link {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.0;
    letter-spacing: 0%;
}
.base__link {
    transition: all 0.3s ease;
}
.base__link:hover {
    color: rgba(26, 62, 62, 1);
}
.podval {
    width: 100%;
    height: auto;
    background-color: rgba(26, 62, 62, 1);
}
.podval__content {
    padding-block: clamp(16px, 4vw, 80px);
}
.podval__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.podval__card--1 {
    width: 100%;
    max-width: 480px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title--5 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 2.4;
    letter-spacing: 0%;
    color: rgba(243, 245, 244, 1);
}
.descriptions--5 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}
.podval__contacts {
    display: flex;
    gap: 24px;
}
.number,
.email--1 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}
.podval__links {
    position: relative;
    display: flex;
    gap: 16px;
}
.links__img {
    object-fit: cover;
    aspect-ratio: 32/32;
}
.podval__card--2,
.podval__card--3 {
    width: 100%;
    max-width: 280px;
    height: auto;
}
.podval__service {
    display: flex;
    flex-direction: column;
}
.arrow {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    color: rgba(253, 253, 253, 1);
}
li {
    color: rgba(253, 253, 253, 1);
}
.links--1 {
    font-family: 'Jost-Regular';
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0%;
    color: rgba(253, 253, 253, 1);
    text-decoration: none;
    transition: all 0.3s ease;
}
.links--1:hover {
    color: rgba(242, 190, 34, 1);
    text-decoration: underline;
}
@media (max-width: 767px) {
    .header__logo-links-button {
        flex-direction: column;
        gap: 16px;
    }
    .header__links {
        justify-content: center;
    }
    .header__title {
        margin-inline-start: 0;
        text-align: center;
    }
    .title {
        font-size: 2rem;
    }
    .header__inputs-button {
        flex-direction: column;
        padding: 20px;
    }
    input {
        width: 100%;
    }
    .about__grid-content {
        flex-direction: column;
        margin-inline: 16px;
        gap: 30px;
    }
    .about__grid-two {
        position: static;
    }
    .services__content-grid {
        flex-direction: column;
    }
    .offers__cards {
        flex-direction: column;
        align-items: center;
    }
    .features__cards {
        grid-template-columns: 1fr;
    }

    /* photos */
    .images__grid {
        flex-direction: column;
    }
    .footer__contacts {
        flex-direction: column;
    }
    .footer__title,
    .footer__support {
        padding: 20px;
    }
    .podval__blocks {
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 768px) {

    .title {
        font-size: 2.5rem;
    }

    .header__inputs-button {
        justify-content: center;
    }

    .about__grid-content {
        flex-direction: row;
    }

    .features__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px) {

    .header__logo-links-button {
        justify-content: space-between;
    }

    .services__content-grid {
        flex-direction: row;
    }

    .offers__cards {
        justify-content: center;
    }

    .images__grid {
        flex-direction: row;
    }
}
@media (min-width: 1280px) {

    .container {
        padding: 0 32px;
    }

    .title {
        font-size: 3.125rem;
    }
}